.brief-expeditions-7 {
  color: #f05323;
  &:after {
    background: linear-gradient(45deg, rgba(#f05323, 0) 10%, rgba(#f05323, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-hi-chew {
  color: #0033a0;
  &:after {
    background: linear-gradient(45deg, rgba(#0033a0, 0) 10%, rgba(#0033a0, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-typographic-phrase {
  color: #b33140;
  &:after {
    background: linear-gradient(45deg, rgba(#b33140, 0) 10%, rgba(#b33140, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-typographic-phrase {
  color: #b33140;
  &:after {
    background: linear-gradient(45deg, rgba(#b33140, 0) 10%, rgba(#b33140, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-typographic-lights {
  color: #000;
  &:after {
    background: linear-gradient(45deg, rgba(#000, 0) 10%, rgba(#000, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-arcadia {
  color: #f28c32;
  &:after {
    background: linear-gradient(45deg, rgba(#f28c32, 0) 10%, rgba(#f28c32, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-7-deadly-sins {
  color: #000;
  &:after {
    background: linear-gradient(45deg, rgba(#000, 0) 10%, rgba(#000, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-the-other-firm {
  color: #dfa21f;
  &:after {
    background: linear-gradient(45deg, rgba(#dfa21f, 0) 40%, rgba(#dfa21f, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-saxton-horne {
  color: #e2231a;
  &:after {
    background: linear-gradient(45deg, rgba(#e2231a, 0) 10%, rgba(#e2231a, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}

.brief-design-movements {
  color: #3497a3;
  &:after {
    background: linear-gradient(45deg, rgba(#3497a3, 0) 10%, rgba(#3497a3, 0.2) 100%);
  }
  &:hover:after {
    box-shadow: inset 1em 0 0 0 currentColor;
  }
}