// Apply box-sizing: border-box to all elements: http://bit.ly/1yDao1h
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #282828;
  overflow-x: hidden;
}

// Main
// ==========================================================================

$wrapper-width: 108em; // Change your main area width here

.wrapper {
  margin: 0 auto;
  padding: 0 4em;
  max-width: $wrapper-width;
  @include under($goldilocks) {
    padding: 0 4em;
  }
  @include under($babybear) {
    padding: 0 2em;
  }
}

.main {
  background-color: #fff;
  margin: 0 auto;
}