// Apply box-sizing: border-box to all elements: http://bit.ly/1yDao1h
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: $color-base-light;
  overflow-x: hidden;
  @include under($goldilocks) {
    background-color: $color-base-lighter;
  }
}

// Main
// ==========================================================================

$wrapper-width: 108em; // Change your main area width here

.wrapper {
  margin: 0 auto;
  padding: 0 4em;
  max-width: $wrapper-width;
  @include under($mamabear) {
    padding: 0 2em;
  }
  @include under(65em) {
    padding: 0 3em;
  }
  @include under($goldilocks) {
    padding: 0 2em;
  }
  @include under($babybear) {
    padding: 0 1em;
  }
}

.main {
  background-color: #fff;
  margin: 0 auto;
  padding: 4em 0;
  @include under($babybear) {
    padding: 1em 0;
  }
}

// Briefs
// ==========================================================================

.briefs {
  padding-left: 0;
  list-style-type: none;
  @include under($babybear) {
    // margin-left: -1rem;
    // margin-right: -1rem;
  }
}

.brief {
  background-color: $color-base-lighter;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: 4;
  }
  &:hover:after {
    opacity: 1;
  }
}

.brief-inner {
  display: block;
  height: 100%;
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
}

.brief-visual {
  backface-visibility: hidden;
  display: block;
  transition: all 0.3s ease-in-out;
  transform: translate(0, 0);
  .brief:hover & {
    transform: translate(2%, 0);
  }
}

.brief-title {
  display: block;
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0;
  opacity: 0;
  position: absolute;
    bottom: 0.4em;
    left: 0.4em;
  transition: all 0.3s ease-in-out;
  z-index: 5;
  .brief:hover & {
    opacity: 1;
    left: 1.4em;
  }
}

@each $title, $color in (expeditions-7: #f05323, hi-chew: #0033a0, typographic-phrase: #b33140, typographic-lights: #000, arcadia: #f28c32, 7-deadly-sins: #000, the-other-firm: #dfa21f, saxton-horne: #e2231a, design-movements: #3497a3) {
  .brief-#{$title} {
    color: $color;
    padding-bottom: percentage(image-height('portfolio/#{$title}/hero.jpg') / image-width('portfolio/#{$title}/hero.jpg'));
    &:after {
      background: linear-gradient(45deg, rgba($color, 0) 10%, rgba($color, 0.2) 100%);
    }
    &:hover:after {
      box-shadow: inset 1em 0 0 0 $color;
    }
  }
  .view-#{$title} {
    h1, h2, h3, h4, h5, h6 {
      color: $color;
    }
  }
}

// Image Grid
// ==========================================================================

.row {
  font-size: 0;
  margin-bottom: 1%;
  &.margin-large {
    margin-bottom: 3%;
  }
}

.column {
  display: inline-block;
  font-size: $base-size;
  margin-right: 1%;
  vertical-align: top;
  width: 100%;
  &:last-child {
    margin-right: 0;
  }
}

.cell {
  display: block;
  width: 100%;
  & > img,
  & > video {
    display: block;
    width: 100%;
  }
  + .cell {
    margin-top: 2%;
  }
}

// 1 Smaller Column {
  .row-padded {
    @include over($goldilocks) {
      padding: 0 15%;
    }
  }

// 2 Uneven Columns

.row-uneven {
  .column {
    width: 32.4%;
    .cell + .cell {
      margin-top: 3%;
    }
  }
  .column-larger {
    width: 66.6%;
    .cell + .cell {
      margin-top: 1.5%;
    }
  }
}


// 2 Even Columns

.row-halves {
  .column {
    width: percentage(0.99/2);
  }
  .cell + .cell {
    margin-top: 2%;
  }
  @include under(65em) {
    .column {
      margin-right: 0;
      width: 100%;
    }
  }
}

// 3 Even Columns

.row-thirds {
  .column {
    width: percentage(0.98/3);
  }
  .cell + .cell {
    margin-top: 3%;
  }
}

// 1 Scrolling Row

@keyframes bob-sideways {
  0%   {transform: translate(1em,  0);}
  5%   {transform: translate(1em,  0);}
  52%  {transform: translate(-1em, 0);}
  57%  {transform: translate(-1em, 0);}
  100% {transform: translate(1em,  0);}
}


.row-scroll {
  position: relative;
  &:after {
    animation: bob-sideways 2s ease-in-out infinite;
    content: "Scroll >";
    display: block;
    font-size: $base-size * 1.5;
    padding: 0.1rem 1rem;
    text-align: center;
    @include under($goldilocks) {font-size: $base-size}
  }
  .column {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
  }
  .cell {
    width: 250%;
    @include under($mamabear)   {width: 300%;}
    @include under($goldilocks) {width: 500%;}
    @include under($babybear)   {width: 700%;}
  }
}

// Description
// ==========================================================================

.description {
  @include clearfix;
  margin-bottom: 3rem;
  padding: 2em 4em 3em;
  > h2 {
    margin-bottom: 0.5em;
  }
  @include over($goldilocks) {
    > p {
      float: left;
      width: 50%;
      &:first-of-type {
        padding-right: 1em;
      }
      + p {
        padding-left: 1em;
      }
    }
  }
  @include under($goldilocks) {
    margin-bottom: 1rem;
    padding: 1em 0 0.5em;
  }
  @include under($babybear) {
    font-size: 1.1em;
  }
}

// More info
// ==========================================================================

.info {
  clear: both;
  color: darken($color-base, 20%);
  font-size: 0.8em;
  > ul {
  display: inline-block;
  margin: 0.2rem 2rem 0.2rem 0;
  padding-left: 0;
    > li {
      display: inline-block;
    }
  }
}

// Hide
// ==========================================================================

.hide {
  @include under($goldilocks) {
    display: none;
  }
}

