.header {
  background-color: $color-accent;
  border-bottom: 0.2em solid #fff;
  color: #f7f7f7;
  padding: 1.3em 0 0.7em;
}

.header a {
  text-decoration: none;
}

.header-title-lockup {
  display: inline-block;
  font-size: $base-size;
  margin-bottom: 0;
  width: 50%;
}

.header-title {
  @include font-alt-bold;
  color: #fff;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
}