// Custom Fonts
// ==========================================================================

// Font Face Mixin (see http://bit.ly/1l8hxUA for bullet-proof syntax)

// For Gulp
@mixin font-face($font-name, $font-filename) {
  @font-face {
    font-family: '#{$font-name}';
    src: url("'/fonts/#{$font-filename}.eot'"); // IE9 Compat Modes
    src: url("'/fonts/#{$font-filename}.eot?#iefix'") format('embedded-opentype'), // IE6-IE8
         url("'/fonts/#{$font-filename}.woff'") format('woff'), // Modern Browsers
         url("'/fonts/#{$font-filename}.ttf'") format('truetype'), // Safari, Android, iOS
         url("'/fonts/#{$font-filename}.svg#svg#{$font-filename}'") format('svg'); // Legacy iOS
  }
}

// For Rails or Middleman
// @mixin font-face($font-name, $font-filename) {
//   @font-face {
//     font-family: '#{$font-name}';
//     src: font-url('#{$font-filename}.eot'); // IE9 Compat Modes
//     src: font-url('#{$font-filename}.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//          font-url('#{$font-filename}.woff') format('woff'), // Modern Browsers
//          font-url('#{$font-filename}.ttf') format('truetype'), // Safari, Android, iOS
//          font-url('#{$font-filename}.svg#svg#{$font-filename}') format('svg'); // Legacy iOS
//   }
// }

// Use Font Face Mixin (one for each font)
@include font-face('Font Name', FontName);

// Font Mixins

@mixin font-base {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin font-base-bold {
  @include font-base;
  font-weight: bold;
}

@mixin font-alt {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin font-alt-bold {
  @include font-alt;
  font-weight: bold;
}

// Global Font
// ==========================================================================

html {
  font-size: 100%; // Change this if you want your root font-size bigger/smaller
}

body {
  @include font-base;
  color: $color-base;
  font-size: $base-size;
  letter-spacing: 0.01em;
  line-height: 1.4; // Set global line-height here
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', serif;
  letter-spacing: 0.03em;
  margin-top: 0;
  text-transform: uppercase;
  &.marginless {
    margin-bottom: 0;
  }
}

h1 {
  line-height: 0.9;
}

// Misc
// ==========================================================================

p {
  margin-top: 0;
}

ul, ol {

}

blockquote {

}