<header class="header" role="banner">
  <div class="wrapper">

    <div class="header-title-lockup">
      <% link_to '/#' do %>
        <h1 class="header-title">Matt Thurman</h1>
        <span class="header-subtitle">UX Designer &amp; Developer</span>
      <% end %>
    </div>
    <%= partial 'nav' %>
     
  </div>
</header>