<section class="views view-design-movements">

  <div class="grid-row">
    <span class="grid-column">
      <div class="grid-cell bordered">
        <%= image_tag 'portfolio/design-movements/1.jpg' %>
      </div>
    </span>
  </div>

  <div class="grid-row">
    <span class="grid-column">
      <div class="grid-cell bordered">
        <%= image_tag 'portfolio/design-movements/2.jpg' %>
      </div>
    </span>
  </div>

  <div class="grid-row">
    <span class="grid-column">
      <div class="grid-cell bordered">
        <%= image_tag 'portfolio/design-movements/3.jpg' %>
      </div>
    </span>
  </div>

  <div class="view-description">
    <h2 class="marginless">Design Movments Book</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>

</section>
