<section class="views view-hi-chew">

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/hi-chew/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1 class="marginless">Hi-Chew Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row row-padded">
    <span class="column">
      <div class="cell browser-framed">
        <video autoplay="autoplay" loop muted>
          <source src="http://mattthurman.com/assets/videos/portfolio/hi-chew/parallax.mp4" type="video/mp4">
        </video>
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Parallax Scrolling</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/hi-chew/flavor-drawer.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Flavor Drawer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/hi-chew/voting.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Favorite Flavor Campaign</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>