<figure class="hero view-hi-chew">
  <%#= image_tag 'portfolio/hi-chew/drawer-original.jpg' %>
  <figcaption class="figcaption">
    <h1 class="heading-large marginless">Hi-Chew Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ullam labore, repellat nihil impedit excepturi! Ratione quos maiores sunt accusantium, hic vel nostrum doloremque dolorem placeat a odit id iure!</p>
  </figcaption>
</figure>

<section class="views view-hi-chew">
  <div class="grid-row-padded">
    <span class="grid-column">
      <div class="grid-cell browser-framed">
        <video autoplay="autoplay" loop muted>
          <source src="http://mattthurman.com/assets/videos/portfolio/hi-chew/parallax.mp4" type="video/mp4">
        </video>
      </div>
    </span>
  </div>
  <div class="views-description">
    <h2 class="marginless">Parallax Scrolling</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row">
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'portfolio/hi-chew/voting.jpg' %>
      </div>
    </span>
  </div>
  <div class="views-description">
    <h2 class="marginless">Favorite Flavor Campaign</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>
</section>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>