<li class="brief">
  <% link_to '/portfolio/7-deadly-sins', class: 'brief-inner' do %>
    <%= image_tag location, class: 'brief-visual' %>
    <div class="brief-description">
      <h2 class="brief-title"><%= title %></h2>
    </div>
  <% end %>
</li>