<li class="brief">
  <% link_to '/portfolio/7-deadly-sins', class: 'brief-inner' do %>
    <%= image_tag 'http://lorempixel.com/1600/1000/', class: 'brief-visual' %>
    <div class="brief-description">
      <h3 class="brief-title"><%= title %></h3>
    </div>
  <% end %>
</li>